{% spaceless %}
{% comment %}
  Controls for Django's built-in paginator

  See: https://docs.djangoproject.com/en/3.0/topics/pagination/

  Parameters:
   - page: Django Page object for the current page
   - paginator: Django Paginator object
   - query: the raw search query text

{% endcomment %}
<nav class="pagination">
  {% if page.has_previous %}
    <a class="pagination__link btn" href="?q={{ query }}&page=1">&laquo; First</a>
    <a class="pagination__link btn" href="?q={{ query }}&page={{ page.previous_page_number }}"> Previous</a>
  {% else %}
    <span class="pagination__link btn btn--disabled">&laquo; First</span>
    <span class="pagination__link btn btn--disabled"> Previous</span>
  {% endif %}

  <span class="pagination__current">
    Page {{ page.number }} of {{ paginator.num_pages }}
  </span>

  {% if page.has_next %}
    <a class="pagination__link btn" href="?q={{ query }}&page={{ page.next_page_number }}"> Next</a>
    <a class="pagination__link btn" href="?q={{ query }}&page={{ page.paginator.num_pages }}"> Last &raquo;</a>
  {% else %}
    <span class="pagination__link btn btn--disabled"> Next</span>
    <span class="pagination__link btn btn--disabled"> Last &raquo;</span>
  {% endif %}
</nav>
{% endspaceless %}
