{% spaceless %}
{% comment %}

  Displays a 🔊 button that can be clicked to hear the recording.

  Parameters:
   - recording: an instance of the Recording model

{% endcomment %}
{% if result.object.recording_set.first %}
  <span class="head__audio">
    <button class="head__play-button" type="button" aria-label="Play recording" onclick="playAudio(this)">🔊</button>
    <audio autoplay=false preload=none src="{{ result.object.recording_set.first.compressed_audio.url }}"></audio>
  </span>
{% endif %}
{% endspaceless %}
