<!DOCTYPE html>
<html lang="en">
<head>
  {% spaceless %}
  {% load static %}
  <meta charset="UTF-8">
  <title>{%block pagetitle %}{% if query %}🔍 {{ query }} | {% endif %}{{ sitename }} — {{ langname }} dictionary{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static "gunaha/css/styles.css" %}">
  {% endspaceless %}
</head>
<body class="site">
  {% spaceless %}
  <header class="page-header">
    <h1 class="page-header__title"><a class="title-link" href="{% url 'gunaha:index' %}">{{ sitename }}</a></h1>
    <p class="page-header__subtitle" role="doc-subtitle">{{ langname }} Dictionary</p>

    <form class="search" method="GET" action="{% url "gunaha:index" %}">
      <div class="search__bar">
        <input type="text" autocorrect="no" class="search__query" name="q"
        placeholder="Search in English or Tsúūt'ínà"
        {% if query %}value="{{ query }}"{% endif %}>
        <button type="submit" class="search__submit"> Search </button>
      </div>

      <details class="search__advanced-search">
        <summary>Advanced search</summary>

        <fieldset class="radio-group">
          <legend>Search in</legend>

          <label class="radio-group__option">
            <input type="radio" name="lang" value="eng"
             {% if languages|length == 1 and "eng" in languages %}checked{% endif %}> English 
          </label>

          <label class="radio-group__option">
            <input type="radio" name="lang" value="srs"
             {% if languages|length == 1 and "srs" in languages %}checked{% endif %}> Tsúūt'ínà 
          </label>

          <label class="radio-group__option">
            <input type="radio" name="lang" value=""
             {% if languages|length != 1 %}checked{% endif %}> Both 
          </label>
        </fieldset>
      </details>
    </form>
  </header>

  <main class="site__content">
    {% block content %}
    {% endblock %}
  </main>

  <footer class="page-footer">
    <nav class="page-footer__links">
      <ul class="nav-list">
        <li class="nav-list__link"><a href="{% url "gunaha:index" %}">Home</a>
        <li class="nav-list__link"><a href="{% url "gunaha:page" "about" %}">About</a>
      </ul>
    </nav>
  </footer>
  {% endspaceless %}
</body>
</html>
