{% extends "gunaha/base.html" %}

{% block content %}
  {% if query %}
    {% if results %}
      {% for result in page %}
        {% include "./includes/search-result.html" %}
      {% endfor %}
      {% include "./includes/pagination-controls.html" %}
    {% else %}
      <article class="card card--error">
        <h2 class="card__heading">No results</h2>
        <p class="card__explanation"> No results for “<output class="query">{{ query }}</output>”. </p>
      </article>
    {% endif %}
  {% else %}
    {% include "./includes/intro.html" %}
  {% endif %}
{% endblock %}
