<!DOCTYPE html>
<html lang="en">
<head>
  {% spaceless %}
  {% load static %}
  <meta charset="UTF-8">
  <title>Gúnahà</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
  <link rel="stylesheet" href="{% static "gunaha/css/styles.css" %}">
  {% endspaceless %}
</head>
<body>
  {% spaceless %}
  <header>
    <h1><a href="{% url 'gunaha:index' %}">Gúnahà</a></h1>
    <p role="doc-subtitle">Tsuut'ina Dictionary</p>

    <form class="search" method="GET">
      <input type="text" autocorrect="no" class="search__query" name="q"
      placeholder="Search in English or Tsúūt'ínà"
      {% if query %}value="{{ query }}"{% endif %}
      >
      <button type="submit" class="search__submit"> Search </button>
    </form>
  </header>

  <main>
    {% if query %}
      {% for result in page %}
        <article class="card card--definition">
          <header>
            <h2><dfn lang="srs">{{ result.object.text }}</dfn></h2>
          </header>

          <ol>
          {% for dfn in result.definitions %}
            <li>{{ dfn }}
          {% endfor %}
          </ol>
        </article>
      {% endfor %}

      <nav class="pagination">
       {% if page.has_previous %}
          <a class="pagination__link" href="?page=1">&laquo; First </a>
          <a class="pagination__link" href="?page={{ page.previous_page_number }}">previous</a>
        {% endif %}

        <span class="pagination__current">
            Page {{ page.number }}
        </span>

        {% if page.has_next %}
            <a class="pagination__link" href="?page={{ page.next_page_number }}">Next</a>
            <a class="pagination__link" href="?page={{ page.paginator.num_pages }}"> Last &raquo;</a>
        {% endif %}
      </nav>
    {% else %}{# if result #}
      <article class="card card--intro">
        <h2> Welcome to Gúnahà! </h2>
        <p> This is an online <strong>Tsúūt'ínà</strong> dictionary. </p>
      </article>
    {% endif %}{# /if result #}
  </main>
  {% endspaceless %}
</body>
</html>
