<!DOCTYPE html>
<html lang="en">
<head>
  {% spaceless %}
  {% load static %}
  <meta charset="UTF-8">
  <title>Gúnahà</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
  <link rel="stylesheet" href="{% static "gunaha/css/styles.css" %}">
  {% endspaceless %}
</head>
<body>
  {% spaceless %}
  <header>
    <h1>Gúnahà</h1>
    <p role="doc-subtitle">Tsuut'ina Dictionary</p>

    <form class="search">
      <input type="text" autocorrect="no" class="search__query">
      <button type="submit" class="search__submit"> Search </button>
    </form>
  </header>

  <article>
    <dl>
      {% for term in page %}
        <dt>
          <dfn lang="srs">{{ term.text }}</dfn>{% if term.word_class %} ({{ term.word_class }}){% endif %}</dt>
        {% for dfn in term.definitions.all %}
          <dd>{{ dfn.text }}</dd>
        {% endfor %}
      {% endfor %}
    </dl>

    <nav class="pagination">
       {% if page.has_previous %}
          <a class="pagination__link" href="?page=1">&laquo; First </a>
          <a class="pagination__link" href="?page={{ page.previous_page_number }}">previous</a>
        {% endif %}

        <span class="pagination__current">
            Page {{ page.number }}
        </span>

        {% if page.has_next %}
            <a class="pagination__link" href="?page={{ page.next_page_number }}">Next</a>
            <a class="pagination__link" href="?page={{ page.paginator.num_pages }}"> Last &raquo;</a>
        {% endif %}
    </nav>
  </article>
  {% endspaceless %}
</body>
</html>
