{% extends "gunaha/base.html" %}

{% block content %}
<article class="card card--about">
  <h2>{{ sitename }}</h2>
  <p>{{ sitename }} was made possible thanks to Bruce Starlight, Janelle Crane-Starlight. Thanks to
  <a href="https://carleton.ca/slals/people/cox-christopher/">Dr. Christopher Cox</a>
    for his help with the content.

    <p> {{ sitename }} was made by the
    <a href="https://altlab.artsrn.ualberta.ca/">Alberta Language Technology Lab (ALT Lab)</a>,
      as part of the
    <a href="http://21c.tools/">21<sup>st</sup> Century Tools for Indigenous Languages</a>
      SSHRC partnership grant.
</article>
{% endblock content %}
